<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Herramientas DevOps Richard Garcia</span>
  </div>
</nav>

<main class="container mt-4">
  <div>
    <div class="card mb-3">
      @for (post of posts; track $index) {

      <div class="card-body">
        <h5 class="card-title text-capitalize">{{ post.title }}</h5>
        @if(post?.body){
        <p class="card-text">{{ post.body }}</p>
        } @if(post?.description){
        <p class="card-text">{{ post.description }}</p>

        }
      </div>
      }
    </div>
  </div>
</main>
